<li class="ui-field-contain" data-icon="edit">
    <a href="#" class="edit-role " id="{{this}}">{{this}}</a>
    <li class="ui-body">
        <fieldset class="ui-grid-b">
            <div class="ui-block-a">
                <button type="submit" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left ui-mini share-qr" id="{{this}}">Delete</button>
            </div>
            <div class="ui-block-b">
                <button type="submit" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left ui-mini share-qr" id="{{this}}">QR</button>
            </div>
            <div class="ui-block-c">
                <button type="submit" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left ui-mini share-nfc" id="{{this}}">NFC</button>
            </div>
        </fieldset>
    </li>
</li>